[Unit]
 Description=Dump data from iOS Health App via a shortcut
 After=multi-user.target

[Service]
WorkingDirectory=/home/mnalavadi/ios-health-dump
Type=simple
ExecStart=/home/mnalavadi/.local/bin/uv run python -m src.data_backup_scheduler
 User=mnalavadi

 [Install]
 WantedBy=multi-user.target
 